{% extends "../../layout.html" %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>
  <div class="breadcrumbs">
    <ol>
      <li><a href="3b-search">Find documents</a></li>
      <li><a href="3b-searchresults">View exceptions</a></li>
      <li><a href="3b-exception-resolve">Resolve exception</a></li>
    </ol>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Resolve exception</h1>
      <p class="lede">Try to identify the case then resolve the exception</p>
      <form action="3b-exceptions-afterresolve" method="get">

        <div class="form-group">

          <p class="form-label">Can you find a case reference for this document?</p>
          <fieldset class="inline">

            <legend class="visuallyhidden">Can you find a case reference for this document?</legend>

            <label class="block-label selection-button-radio" for="radio-inline-1"  data-target="UAN-questions">
              <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
              Yes
            </label>
            <label class="block-label  selection-button-radio" for="radio-inline-2">
              <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No" >
              No
            </label>

          </fieldset>
        </div>

        <div class="js-hidden" id="UAN-questions">
          <div class="form-group">
            <label class="form-label" for="documentname">Case reference</label>
            <input class="form-control" id="documentname" name="documentname" type="text" value="">
          </div>

          <!-- <p class="form-label">Is this a priority application?</p>
            <fieldset class="inline">

              <legend class="visuallyhidden">Priority?</legend>

              <label class="block-label" for="radio-priority-1">
                <input id="radio-priority-1" type="radio" name="radio-priority-group" value="Yes">
                Yes
              </label>
              <label class="block-label" for="radio-priority-2">
                <input id="radio-priority-2" type="radio" name="radio-priority-group" value="No" >
                No
              </label>

            </fieldset>
 -->
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Resolve">
        </div>
        <div class="form-group">
          <a href="3b-exceptions">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}
