{% extends "../layout.html" %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>
  <div class="breadcrumbs">
  <ol>
    <li><a href="search2">Search for documents</a></li>
  </ol>
</div>
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Search for documents</h1>

      <p>Search for documents using your case reference number. For Access UK cases, use the Unique Application Number (UAN).</p>
      <div class="collapsible">
        <div class="collapsible-item">
          <div class="collapsible-heading">
            <p>
              <span class="collapsible-heading-primary">How to find the Unique Application Number (UAN)</span>
            </p>
          </div>

          <div class="collapsible-content">
            <p>The Unique Application Number is automatically assigned to a case when an applicant applies through GOV.UK. The Unique Application Number is shown when you view the case in the Casework Information Database (CID).</p>
          </div>

        </div>

      </div>
      <form id="searchform" action="searchresults2" method="get">

        <div class="search">

          <!-- <label for="search-input">Search for case files</label> -->
          <input type="search-input" name="q" class="search-input" placeholder="e.g. 1234-1234-1234-1234" id="search-input" aria-label="Enter a reference number" />
          <input type="submit" value="Search" class="search-button" />
        </div>
      </form>


      <div class="grid-row">
        <div class="column-two-thirds">
          <h2 class="heading-medium">View exceptions</h2>
          <p>Documents that are received without a reference number need to be resolved. </p>
          <p><a href="exceptions2.html">View Exceptions</a></p>
        </div>
      </div>

  </div>
</main>

{% endblock %}
