{% extends "../layout.html" %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>
  <div class="breadcrumbs">
    <ol>
      <li><a href="search2">Search for documents</a></li>
      <li><a href="searchresults2">Results</a></li>
    </ol>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">

      <!-- <h1 class="heading-xlarge">Search results</h1> -->
      <!-- <p class="lede">Find documents related to a case</p> -->

       <div class="alert-success" role="alert">
         <span class="icon icon-tick" role="presentation"></span>
         <div class="alert-message">
           <p>Your document has been uploaded.</p>
         </div>
       </div>

      <h1 class="heading-large">Documents for case</h1>

        <p>
          <form id="searchform" action="search" method="get">

            <div class="search">

              <!-- <label for="search-input">Search for case files</label> -->
              <input type="search-input" name="q" class="search-input" value="1234-1234-1234-1234" id="search-input" aria-label="Enter a reference number"  />
              <input type="submit" value="Search" class="search-button" />
            </div>
          </form>
        </p>

        <p>5 documents found</p>

        </div>
        <div class="search-results">

          <table>
            <caption class="visuallyhidden">Caption to identify a table</caption>
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Priority</th>
                <th scope="col">Fraud</th>
                <th class="numeric" scope="col">Date</th>
                <th class="numeric" scope="col">Edit</th>
                <th class="numeric" scope="col">View</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1234-1234-1234-1234-APPLICATION-1.pdf</td>
                <td>No</td>
                <td>No</td>
                <td class="numeric">01/07/2016</td>
                <td class="numeric"><a href="editdocument2">Edit</a></td>
                <td class="numeric"><a href="../public/images/coversheet.pdf">View</a></td>
              </tr>
              <tr>
                <td>1234-1234-1234-1234-ID-TRAVEL-2.pdf</td>
                <td>No</td>
                <td>Yes</td>
                <td class="numeric">01/07/2016</td>
                <td class="numeric"><a href="editdocument2">Edit</a></td>
                <td class="numeric"><a href="../public/images/brp.pdf">View</a></td>
              </tr><tr>
                <td>1234-1234-1234-1234-FINANCES-3.pdf</td>
                <td>No</td>
                <td>No</td>
                <td class="numeric">01/07/2016</td>
                <td class="numeric"><a href="editdocument2">Edit</a></td>
                <td class="numeric"><a href="../public/images/finances.pdf">View</a></td>
              </tr><tr>
                <td>1234-1234-1234-1234-ID-TRAVEL-4.pdf</td>
                <td>No</td>
                <td>No</td>
                <td class="numeric">01/07/2016</td>
                <td class="numeric"><a href="editdocument2">Edit</a></td>
                <td class="numeric"><a href="../public/images/passport.pdf">View</a></td>
              </tr>
              <tr>
                <td>1234-1234-1234-1234-EDUCATION-5.pdf</td>
                <td>No</td>
                <td>No</td>
                <td class="numeric">01/07/2016</td>
                <td class="numeric"><a href="editdocument2">Edit</a></td>
                <td class="numeric"><a href="../public/images/education.pdf">View</a></td>
              </tr>
              <tr>
                <td>1234-1234-1234-1234-Correspondence.pdf</td>
                <td>No</td>
                <td>No</td>
                <td class="numeric">24/10/2016</td>
                <td class="numeric"><a href="editdocument2">Edit</a></td>
                <td class="numeric"><a href="../public/images/decletter.pdf">View</a></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <h2 class="heading-medium">Upload a document</h2>
        <p>Upload a document to this case or another case.</p>
        <p><a href="upload2.html">Upload a document</a></p>
      </div>
    </div>
  </main>

  {% endblock %}
